/* styles.css */

.cont_accordion {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
    display: flex;
    margin: 100px 0;
  }

  .accordion-container {
    
    margin-left: 70px;
  }
/* ... Other styles ... */

.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion label {
    display: block;
}

/* Styling */

.accordion {
    margin-bottom: 1em;
    width: 100%; /* Make the accordion sections full width */
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
    width: calc(100% - 30px); /* Adjust width to include padding */
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

.accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
}

.accordion label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #e8e8e8;
    width: calc(100% - 30px); /* Adjust width to include padding */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin-bottom: 1px; /* Add some spacing between sections */
  }

  .accordion label:hover,
  .accordion label:focus {
    background: #d8d8d8;
}

.accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
}

/* Demo purposes only */

.accordion {
    max-width: 140em;
}

.accordion p:last-child {
    margin-bottom: 0;
}

.image-container {
  margin-left: 20px; /* Adjust as needed */
}

.image-container img {
  width: 80%; /* Make the image fill the container */
}

@media screen and (max-width: 768px) {
    .cont_accordion {
      flex-direction: column; /* Change to a column layout on smaller screens */
    }
  
    .image-container {
      margin-left: 0; /* Remove left margin on smaller screens */
    }

    .accordion-container {
        flex: 1; /* Take up the available space */
        margin-left: 0
      }
      section{
        padding: 0;;
      }
  }